div{
    border: 2px solid #43e40a;
    padding: 15px;
    margin:10px 40px 5px ;
    background-color: rgba(106, 216, 6, 0.2);
    border-radius:15px;
    box-shadow: 2px 4px rgba(0, 0, 0, 0.1);
}
#s2{
    float: left;
}
#s1{
    float: right;
}
#b{
    float: right;
}
.ad{
    font-family: Arial, sans-serif;
    background: rgb(216, 250, 205);
}
h1{
    color: #4CAF50;
    float: right;

}
nav{
    padding: 20px;
    background-color: rgb(67, 228, 10);
}
